body {
    margin: 0;
}

.Header__container {
    background-color: #2231AA;
    display: flex;
    justify-content: space-between;
    line-height: 84px;
    height: 84px;
}

.Header__btn {
    border: none;
    background-color: inherit;
    width: 84px;
    height: 84px;
}

.Search__container {
    width: 282px;
    display: flex;
}

.UserName__abbr {
    padding: 14px;
    margin: 0 15px;
    height: 24px;
    background-color: #5360CD;
}

.UserName {
    color: white;
}

.burger {
    border-right: 1px solid #5360CD;
    cursor: pointer;
}

.search {
    border-right: 1px solid #5360CD;
    border-left: 1px solid #5360CD;
    cursor: pointer;
}